{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
          <div class="post">
            <div class="date">
		{{post.published_date }}
	    </div>
	    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
	    <p>{{ post.text|linebreaksbr }}</p>
	  </div>
	{% endfor %}
{% endblock content %}
<!--
    <div>
      <p>published: 19.04.2017, 13:33</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentun nibh, ut fermentun massa justo sit amet risus.</p>
    </div>

    <div>
      <p>published: 19.04.2017, 13:35</p>
      <h2><a href="">My second post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentun nibh, ut f.</p>
    </div>
-->
